.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }

.fa-star {
    color: #aeb52a;
}
.fa-star.dis {
    color: #2d2d29;
}